@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-brand-25: var(--brand-25);
  --color-brand-50: var(--brand-50);
  --color-brand-100: var(--brand-100);
  --color-brand-200: var(--brand-200);
  --color-brand-300: var(--brand-300);
  --color-brand-400: var(--brand-400);
  --color-brand-500: var(--brand-500);
  --color-brand-600: var(--brand-600);
  --color-brand-700: var(--brand-700);
  --color-brand-800: var(--brand-800);
  --color-brand-900: var(--brand-900);
  --color-brand-950: var(--brand-950);
  --color-discord-background: #36393f;
  --color-discord-brand-color: #5865f2;
  --color-discord-gray: #36393f;
  --color-discord-text: #dcddde;
  --color-discord-timestamp: #72767d;
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
}

:root {
  --chart-5: oklch(0.623 0.274 256.65);
  --chart-4: oklch(0.568 0.257 12.39);
  --chart-3: oklch(0.722 0.177 164.57);
  --chart-2: oklch(0.819 0.189 90.03);
  --chart-1: oklch(0.624 0.214 264.18);
  --ring: oklch(0.215 0.028 264.49);
  --input: oklch(0.933 0.031 255.63);
  --border: oklch(0.933 0.031 255.63);
  --destructive-foreground: oklch(1 0 0);
  --destructive: oklch(0.627 0.257 29.23);
  --accent-foreground: oklch(0.215 0.028 264.49);
  --accent: oklch(0.971 0.015 255.74);
  --muted-foreground: oklch(0.215 0.028 264.49);
  --muted: oklch(0.971 0.015 255.74);
  --secondary-foreground: oklch(0.215 0.028 264.49);
  --secondary: oklch(0.971 0.015 255.74);
  --primary-foreground: oklch(1 0 0);
  --primary: oklch(0.215 0.028 264.49);
  --popover-foreground: oklch(0.215 0.028 264.49);
  --popover: oklch(1 0 0);
  --card-foreground: oklch(0.215 0.028 264.49);
  --card: oklch(1 0 0);
  --foreground: oklch(0.215 0.028 264.49);
  --background: oklch(1 0 0);
  --discord-text: oklch(0.827 0.009 262.66);
  --discord-gray: oklch(0.286 0.016 256.78);
  --discord-timestamp: oklch(0.517 0.011 261.27);
  --discord-background: oklch(0.286 0.016 256.78);
  --discord-brand-color: oklch(0.552 0.213 265.85);
  --brand-950: oklch(0.212 0.082 270.21);
  --brand-900: oklch(0.266 0.095 271.1);
  --brand-800: oklch(0.338 0.102 272.15);
  --brand-700: oklch(0.418 0.106 272.69);
  --brand-600: oklch(0.517 0.097 271.87);
  --brand-500: oklch(0.616 0.073 271.24);
  --brand-400: oklch(0.7 0.051 270.79);
  --brand-300: oklch(0.787 0.036 270.61);
  --brand-200: oklch(0.871 0.023 270.57);
  --brand-100: oklch(0.94 0.012 270.64);
  --brand-50: oklch(0.971 0.007 270.61);
  --brand-25: oklch(0.985 0.003 270.56);
  --radius: 0.5rem;
}
